<div class="toggle"></div>
<button class="darkmode">
  <i class="darktoggle fas fa-moon" style="transform: scale(1.3)"></i>
</button>
<div class="overlay"></div>
<div class="menu">
  <div class="menucontents">
    <h1>Contribute !</h1>
    <div class="menu_extra"><%- include('form.ejs') %></div>
  </div>
</div>
